/*  =============================================
                       Body 
    =============================================   */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/*  =============================================
                       Header
    =============================================   */
.flex-container {
    display: flex;
    
}
.first-section-color{
    background-color: #2d26a0;
}
.nav{
    width: 80%;
}
nav ul{
    margin-left: 115px;
    margin-top: 35px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 15px 20px;  
}
.login{
    width: 20%;
    margin-top: 35px;
}
.button{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    background-color: #e02d6c;
}

.button:hover{
    background-color: #961c47;
    
}
/*  =============================================
                First Section
    =============================================   */
.flex-container{
    display: flex;
}
.first-section{
    background-color: #2d26a0;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.half-width{
    width: 50%;
}
.half-width h1{
    color: white;
    font-size: 60px;
    font-weight: 900;
    line-height: 25px;
}
.first-section-text{
    padding-left: 165px;
    margin-top: 40px;
}
.half-width img{
    width: 90%;
    margin-left: -50px;
}
/*  =============================================
                    Card Section
    =============================================   */
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    margin-left: 160px;
    margin-right: 150px;
    margin-top: 50px;
}
.card{
    box-shadow: 10px 10px 50px lightgray;
    margin: 25px 20px 25px 0px;     
    width: 83%;
    padding: 15px 5px 10px 15px;
}
.card img{
    width: 97%;   
}
.p-content{
    color: #717171;
    font-size: 14px;
    text-align: justify;
    padding-right: 15px;
}
.card:hover{
    box-shadow: 10px 10px 50px #717171;
}
/*  =============================================
                Highlight Section
    =============================================   */
.highlight-section{
    margin-top: 150px;
}
.highlight-content{
    padding: 60px 7px 10px 103px;
    margin-left: 50px;
    width: 40%;
}
.highlight-content h1{
    color: black;
    font-size: 50px;
}
.highlight-content p {
    color:#717171;
    margin-bottom: 35px;
    margin-right: 140px;
    text-align: justify;
}
.highlight-image img{
    width: 80%;
    margin-left: 30px;
}
